{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-primary">
            {% include 'TruckeeProjectmanaBundle:Household:householdHeading.html.twig' %}
        <div class="panel-body">
            <form action="{{ path('household_edit', { 'id': household.id }) }}" method="post">
                {% include "TruckeeProjectmanaBundle:Member:memberShowBlock.html.twig" %}
                {% include "TruckeeProjectmanaBundle:Address:addressBlock.html.twig" %}
                {% include "TruckeeProjectmanaBundle:Household:householdEditBlock.html.twig" %}
                <div align="center"><input class="btn-sm btn-info" type="submit" value="Submit">
                    <input class="btn-sm btn-info" type="reset"></div>
            </form>
        </div>
    </div>
{% endblock %}
