{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-primary">
        {% include 'TruckeeProjectmanaBundle:Household:householdHeading.html.twig' %}
        <div class="panel-body">
            {% include 'TruckeeProjectmanaBundle:Default:templates.html.twig' %}
        </div>
    </div>
{% endblock %}
