{# src/Mana/ClientBundle/Resources/views/Member/match_results.html.twig #}
{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}

<div class="panel panel-info" style="width:80%; margin-left: 10%;">
    <div class="panel-heading">Add new head of house or view existing households<br>
    * = Household is inactive
    </div>
{#    <div class="panel-body">#}
        <table class="table">
            <tr>
                <th>Select one
                <th>ID
                <th>Name/Head
                <th>DOB
                <th>Address
            </tr>
            <tr>
                <th>New Member
            <tr>
                <td><a class="btn-sm btn-info" href="{{ path('household_new') }}">Select</a></td>
                <td>
                <td>{{ newadd.sname }}, {{ newadd.fname }}</td>
                <td>{{ newadd.dob|date('m/d/Y') }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Possible matches
            </tr>
{% include "ManaClientBundle:Member:matchBlock.html.twig" %}
        </table>
{#</div>#}
</div>
{% endblock %}