<div class="panel panel-info">
    <div class="panel-heading">Members</div>
    <div id="memberEditDialog"></div>
    <div id="members">
        {% for member in household.members %}
            {% include 'ManaClientBundle:Member:memberShowBlock_content.html.twig' %}
        {% endfor %}
    </div>
    <div class="panel-body">
        <a id="addMember" href="#" class="btn-sm btn-info">Add member</a>
    </div>
</div>
