<div class="section">Members</div>
<p style="font-size: 9pt;">Note: Last name of <span class="head">head of household</span> cannot be changed.<br>Other members without a last name entered will be assigned the last name of the head of household.</p>
    <div class="title">NOTICE: Head of household missing data MUST be corrected
        {% if flag > 1 %}
            <br>Please select new head of household from included members
        {% endif %}
    </div>
<input type="hidden" id="headId" name="household[headId]" value="{{ household.head.id }}">
<div id="member-list" data-prototype="{% filter escape %}{% include 'ManaClientBundle:Member:memberPrototype.html.twig' with {'form': form.members.vars.prototype} %}{% endfilter %}">
    {% for member in form.members %}
            {% set isHead = false  %}
            {% if member.vars.value.id == household.hohId %}
                {% set isHead = true %}
            {% endif %}
        <div class="border" onclick="showHideIncludeHead()" >

            <ul class="formblock" id="member-form">
                {% if member.vars.value.include == '1' %}
                    {% include 'ManaClientBundle:Member:included.html.twig' %}
                    {% include 'ManaClientBundle:Member:v1MemberRequired.html.twig' %}
                    {% include 'ManaClientBundle:Member:memberNotRequired.html.twig' %}
                {% else %}
                    {% include 'ManaClientBundle:Member:excluded.html.twig' %}
                {% endif %}
            </ul>
        </div>
    {% endfor %}
</div>