{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
    <h2>{{ label_warning('Sorry, but that page cannot be found.') }}</h2><br>
    <div><a class="btn-sm btn-info" href="{{ path("home") }}">Home</a></div>
{% endblock %}