<div class="row">
    <div class="col-md-2">
        {% if form.vars.value.id == headId %}
            <b>Head</b>
        {%else%}
            {{ form_row(form.include) }}
        {%endif%}
    </div>
    <div class="col-md-5">
        {{ form_row(form.fname) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.sname) }}
    </div>
</div>
