{% extends "ManaClientBundle:Default:layout.html.twig" %}

{% block body %}
<div class="title">Select center for contact list</div>
{{ form_errors(form.center) }}
<div class="width35">
<form action="{{ path("center_select") }}" method="post">
{{ form_widget(form.center) }}
    <br>
<input type="submit" name="submit" value="Submit">
</form>
</div>
{% endblock %}