/*
    Document   : tables
    Created on : Jan 2, 2012, 1:57:37 PM
    Author     : George
    Description:
        Purpose of the stylesheet follows.
*/

table {
    border:none;
    border-collapse: collapse;
    font-family: Arial, Helvetica;
    font-size: 10pt;
    margin: 1em 10px;
}

td {
    padding: 3px;
}

td.searchbody {
    border-color: #336699;
    border-bottom: 1px solid black;
    height: 30px;
    vertical-align: middle;
    /*width: 210px;*/
}

table.width35 {
    margin: 1em 34%;
}

td.narrow {
    width: 85px;
}

table.header td {
     padding-left: 50px;
}

.margin18 {
    margin: 1em 18%;
}
/*
table.width80 {
    margin: 1em 10%;
}

table.width60 {
    margin: 1em 20%;
}

table.width80 td {
    padding: 0 1em 0 0;
}

table.width60 td {
    padding: 0 1em 0 0;
    padding: 0 1em 0 0;
    height: 30px;
    vertical-align: middle;
}

table.width40 {
    margin: 1em 30%;
}

table.width40 td {
    padding: 0 1em 0 0;
}*/

.head {
    background-color: #FFFF66;
}

table#contact_form td {
    padding: 0 5px;
}