/logs/
/nbproject/
/sql/
/src/Mana/ClientBundle/HoldingPen/
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/web/
/clearcache.cmd
/w.cmd
/bin/
src/Mana/ClientBundle/Controller/JTestController.php
/src/Mana/ClientBundle/Resources/views/Test/
/webify.cmd