/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters*.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/*
/htdocs/bundles/*
/tests/_output/*

/web/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php