{% extends "layout.html.twig" %}
{% block body %}
    {% block button %}
        <button id="menuToggle" class="btn btn-default hidden-print" type="submit" style="margin-top: 10px;">Printable view</button>
    {% endblock %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="text-center">
                Other Services Summary
            </div>
        </div>
        <div class="panel-body">
            {{ include( 'Statistics/seekingServices.html.twig') }}
            {{ include( 'Statistics/receivingServices.html.twig') }}
        </div>
    </div>

{% endblock %}
