{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">{{ criteriaHeader }}</div>
        <div class="panel-body">
            <form action="{{ path(formPath) }}" method="post">
                {% for template in criteriaTemplates %}
                    {% include template %}
                {% endfor %}
                <br>
                <div align="center"><input class="btn-sm btn-info" type="submit" name="submit" value="Submit"></div>
        </div>
    </form>
</div>
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/reports.js') }}"></script>
{% endblock %}
{% endblock %}
