<div class="row">
    <div class="col-sm-1">Service</div>
    <div class="col-sm-1 text-right">Count</div>
    <div class="col-sm-10">Households</div>
</div>
{% for key, households in seekingServices %}
    <div class="row">
        <div class="col-sm-1">{{ key }}</div>
        <div class="col-sm-1 text-right">{{ households|length }}</div>
        <div class="col-sm-10">
            {% for household in households %}
                {{  household }}, 
            {% endfor %}
        </div>
    </div>
{% endfor %}
