{% extends "layout.html.twig" %}
{% block body %}
    {% block button %}
        <button id="menuToggle" class="btn btn-default hidden-print" type="submit" style="margin-top: 10px;">Printable view</button>
    {% endblock %}
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            {{ reportHeader|raw }}
        </div>
        {{ include('Default/templates.html.twig') }}
    </div>
    <div class="text-center hidden-print"><a href="{{ path('stats_excel') }}"><button>Save as Excel file</button></a></div>
{% endblock %}
