{% extends 'layout.html.twig' %}
{% block body %}
    <h2 class="text-center">{{ label_info('Database documentation') }}</h2>
    <h3 class="text-center">{{ label_info('Tables & their relationships') }}</h3>
    <div class="text-center" style="margin: 3em 0;"><img src="/images/keytables.png" alt="Key tables"></div>
    <div class="text-center" style="margin: 3em 0;"><img src="/images/household.png" alt="Household table"></div>
    <div class="text-center" style="margin: 3em 0;"><img src="/images/member.png" alt="Member table"></div>
    <div class="text-center" style="margin: 3em 0;"><img src="/images/contact.png" alt="Contact table"></div>
{% endblock body %}