{% extends 'layout.html.twig' %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading" style="font-size: 18pt;">Database documentation: MySQL Workbench</div>
        <div class="panel-body" style="font-size: 16pt;">
            <p>Installation instructions for MySQL Workbench are <a
                    href="http://dev.mysql.com/downloads/workbench/" target="_blank">
                available online here</a>. You will likely be asked to install additional
                software as described in the link.  Please allow the installations.</p>
            <p>Once Workbench is installed you will need to configure a connection 
            to the admin application database.  Open Workbench and click on the + sign to the 
            right of MySQL Connections.  <image src="/images/workbench.png" alt="MySQL Workbench"></p>
            <p>Create a connection to the projectmana database by filling in the Setup box as shown below. 
                The username is manareports; the password is also manareports.  
                Test the connection. When asked to save the password, go ahead and save it in the vault.
                <image src="/images/manareports.png" alt="Connection setup"></p>
            <p>There will now be a connection labelled Reports on the Workbench 
                main screen. Click on the Reports connection to open the query window.
                <image src="/images/workbench_ready.png" alt="Workbench queries"></p>
        </div>
    </div>

{% endblock body %}
    