parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: db_name
    database_user: db_user
    database_password: db_password
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: developer_email
    mailer_password: mailer_password
    locale: en
    secret: something_very_secret
    database_path: null
