<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.startMonth, {'label': 'Beginning month'}) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.startYear, {'label': 'Beginning year'}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.endMonth, {'label': 'Ending month'}) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.endYear, {'label': 'Ending year'}) }}
    </div>
</div>
