<div class="card-body">
    <div class="row">
        <div class="col-sm-3 text-right">
            <b>Individuals Served</b>
        </div>
        <div class="col-sm-3 text-right">
            <b>Unique Individuals Served</b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            {{ statistics.TIS|number_format }}
        </div>
        <div class="col-sm-3 text-right">
            {{ statistics.UIS|number_format }}
        </div>
    </div>
</div>
