<div class="row">
    <div class="col-sm-3 text-right">
        <b>New Households<br />(all types)</b>
    </div>
    <div class="col-sm-3 text-right">
        <b>Unique New Individuals<br />(all types)</b>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-right">
        {{ statistics['NewHouseholds'] }}
    </div>
    <div class="col-sm-3 text-right">
        {{ statistics['Unique New Individuals']|number_format }}
    </div>
</div>
