{% extends "base.html.twig"%}
{% block body %}
    <div class="container">
        {% block content %}
{{ include("Statistics/profile_content.html.twig") }}
        {% endblock %}
    </div>
{% endblock body %}
