{% extends "base.html.twig" %}
{% block body %}
    <div class="card">
        <div class="card-header bg-info text-center">
            {{ reportHeader|raw }}
        </div>
        {{ include('Default/templates.html.twig') }}
    </div>
{% endblock %}
