{% extends 'base.html.twig' %}
{% block body %}
{% endblock body%}
{% block javascripts %}
    {% if is_granted('ROLE_USER') %}
        {{ parent() }}
        {{ encore_entry_script_tags('highcharts') }}
        <script type="text/javascript">
            {{ chart(chart) }}
        </script>
        <div id="linechart" style="margin: 0 10em;"></div>
    {% endif %}
{% endblock javascripts %}
