{% extends "TruckeeProjectmanaBundle:Default:layout.html.twig" %}
{% block body %}
<div class="error">We're sorry, but that page cannot be found.</div>
<div><a class="tinybutton" href="{{ path("home") }}">Home</a></div>
{% endblock %}