<div class="title">Household Edit<br>
    ID: {{household.id}}; Head: {{household.head.fname}} {{household.head.sname}}</div>
<div class="title">NOTICE: Head of household missing data MUST be corrected before other editing</div>
