<div class="title"><br>Please select new head of household from included members</div>
<div id="dialog" title="Reminder">Selecting new head of household copies dob, etc. to head and removes member</div>
