body, html {
    background-color:#FFFFFF;
    font-family:sans-serif;
    margin:0;
    padding: 0;
}

body {
    /* min-width:720px; Prevent content from becoming unreachable in Gecko */

}

p {
    padding: 0 5px;
}

/*div {
    margin: 8px 0
}*/

.imgLogo {
    float: left;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 20px;
    /*margin: 5px;*/
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.headerText {
    float: right;
    text-align: center;
}

.title {
    color:#BA312D;
    text-align:center;
}

.smallform {
    /*background-color: #f5f5f5;*/
    font-size: 9pt;
    color: #000066;
    border: 1px solid #CCCC99;
}

.tinyform {
    /*background-color: #f5f5f5;*/
    font-size: 9pt;
    color: #000066;
    border: 1px solid #CCCC99;
    width: 90px;
    margin-left: 5px;
}

.smallform-checkbox {
    /*background-color: #f5f5f5;*/
    font-size: 9pt;
    color: #000066;
    /*border: 1px solid #CCCC99;*/
}

.smallbutton, .tinybutton {
    display: inline-block;
    text-decoration:none;
    text-align: left;
    background-color: #f5f5f5;
    font-size: 9pt;
    color: #000066;
    border: 2px outset #A3A37A;
    padding: 3px;
    border-radius: 4px;
}

.smallbutton {
    margin: 2px 5px;
    width: 120px;
}

.tinybutton {
    width: 65px;
}

.smallbutton:hover, .tinybutton:hover {
    background-color: #99ccff;
}
.smallbutton a, .tinybutton a {
    text-decoration:none;
    color: #000066;
}

.body {
    border-color: #336699;
    font-size:  10pt;
    font-family: Arial, Helvetica;
    color: #333333;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    color: #7D5F02;
    font-size:  10pt;
    font-family: Arial, Helvetica;
}

.current a {
    background-color: #FFFF66;
}
/*.home {
    position: relative;
    top: 2em;
}*/

.errors {
    text-align: center;
    font-size: 10pt;
    color: red;
}

/*textarea {
    width: 300px;
    height: 30px;
}*/

.leftfoot {
    font-size: 8pt;
    float: left;
    width: 33%;
    padding-left: 5px;
    color: gray;
    margin-left: 5px;
}

a.leftfoot:link {
    color: gray;
    text-decoration:none;
}

a.leftfoot:hover {
    text-decoration:underline;
}

.rightfoot {
    float: left;
    width: 33%;
    margin-left: 70%;
    margin-top: -3%;
    padding-left: 50px;
}

.middlefoot {
    float: left;
    text-align: center;
    color: red;
    margin-right: -64%;
    width: 33%;
    font-size: 8pt;
}

.imgRight {
    float:right;
}

.invisible {
    color: #FFFFFF;
}

.section {
    background-color: #CCCC99;
    text-align: center;
    font-weight: 600;
    margin: 1em 0;
}

.section60 {
    background-color: #CCCC99;
    text-align: center;
    font-weight: 600;
    width: 60%;
    margin: 1em 20%;
}

.section70 {
    background-color: #CCCC99;
    text-align: center;
    font-weight: 600;
    /*width: 60%;*/
    margin: 1em 15%;
}

.section80 {
    background-color: #CCCC99;
    text-align: center;
    font-weight: 600;
    /* margin-left: 10%; */
    /*width: 80%;*/
    margin: 1em 10%;
    /* margin-bottom: 1em; */
}

.column1 {
    float:left;
    width:48%;
    padding-left: 10px
}

.column2 {
    float:right;
    width:48%;
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
}

.fixedHeight {
}

.width35 {
    margin: 1em 34%;
}

.margin18 {
    margin: 1em 18%;
}

.width80 {
    margin: 1em 10%;
}

.width60 {
    margin: 1em 20%;
}

/*.width80 td {
    padding: 0 1em 0 0;
}

.width60 td {
    padding: 0 1em 0 0;
    padding: 0 1em 0 0;
    height: 30px;
    vertical-align: middle;
}*/

.width40 {
    margin: 1em 30%;
}

/*.width40 td {
    padding: 0 1em 0 0;
}*/

.head {
    background-color: #FFFF66;
}

.menu {
    position: fixed;
    font-size: 10pt;
    height: 132px;
    left: 1em;
    top: 185px;
    width: 150px;
    padding-left: 5px;
}

ul, li
{
    list-style-type: none;
    padding:0; 
    margin:0;
}

ul.formblock {
    margin: .5em;
}

.border {
    margin: 15px 0;
    border: 1px solid #A3A37A;
}

.formblock li {
    font-size: 9pt;
    display:inline-block;
    /*background-color:#eee;
    border:1px solid;
    border-color:#f3f3f3 #bbb #bbb #f3f3f3;*/
    margin:3px 0;
    padding:3px .2em 0;
    zoom: 1;
}


.stats {
    display: table;
       width: 70%;
    margin: 0 15%;
    table-layout: fixed;
    /*margin-bottom: 20px;*/
}

.stats > div {
    display: table-cell;
    /*border: 1px dotted red;*/
    padding: 4px 6px;
    width: 2% ;
    margin-bottom: 0;
    text-align: right;
    font-size: 10pt;
}