/*
 * This file is part of the UUFNN Artisan package.
 *
 * (c) UUFNN
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
/*
    Created on : Jan 30, 2018, 6:43:14 AM
    Author     : George Brooks <truckeesolutions@gmail.com>
*/

@media all {
    .new_page {
        page-break-after: always;
    }
}

div.bordered {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

div.bottomline {
  border-bottom: 1px solid;
}
