<table  class="width80">
    <tr>
        <td>Beginning month and year: 
        <td>{{ form_widget(form.startMonth) }} {{ form_widget(form.startYear) }} 
    <tr>
        <td>Through month and year: 
        <td>{{ form_widget(form.endMonth) }} {{ form_widget(form.endYear) }}
</table>
            