{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">{{ criteriaHeader }}</div>
        <div class="panel-body">
            <form action="{{ path(formPath) }}" method="post">
                {% for template in criteriaTemplates %}
                    {% include template %}
                {% endfor %}
                {#{% include "ManaClientBundle:Statistics:dateCriteria.html.twig" %}#}
                {#{% if extra == 'general' %}#}
                {#{% include "ManaClientBundle:Statistics:typeLocationCriteria.html.twig" %}#}
                {#{% endif %}#}
                {#{% if extra == 'profile' %}#}
                {#{% include "ManaClientBundle:Statistics:profileCriteria.html.twig" %}#}
                {#{% endif %}#}
                <br>
                <div align="center"><input type="submit" name="submit" value="Submit"></div>
        </div>
    </form>
</div>
{% endblock %}
