{% extends "ManaClientBundle:Default:layout.html.twig"%}
{% endblock head %}
{% block body %}
    {% block button %}
        <button id="menuToggle" class="btn btn-default hidden-print" type="submit" style="margin-top: 10px;">Printable view</button>
    {% endblock %}
    <div class="container">
        {% block content %}
            {{content|raw}}
        {% endblock %}
    </div>
{% endblock body %}
