{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
{% if statistics is defined %}
{% include('ManaClientBundle:Statistics:statsblock.html.twig') %}
{% else %}
{% include('ManaClientBundle:Statistics:details.html.twig') %}
{% endif %}
<div align="center"><a href="{{ path('stats_excel') }}"><button>Save as Excel file</button></a></div>
{% endblock %}