<table  class="width80">
    <tr>
        <td>Report type: 
        <td>{{ form_widget(form.contact_type) }}
    <tr>
        <td>Either center or county or neither:
    <tr>
        <td>Site: 
        <td id="center_select">{{ form_widget(form.center) }}
    <tr>
        <td>County:
        <td id="county_select">{{ form_widget(form.county) }}
</table>
