{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
<div align="center">
    <div class="title">Please enter your login credentials:</div>
{% if error  %}
    <div class="errors">{{ error.message }}</div>
{% endif %}
    <form action="{{ path('login_check') }}" name="loginform" method="post">
        <table>
            <tr>
                <td class="body"><label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                <td class="body">    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password"  />
        </table><br>
        <input type="submit" name="submit" value="Login">
    </form>
</div>
{% endblock %}