{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block menu %}
{{ knp_menu_render('ManaClientBundle:Builder:adminMenu') }}
{% endblock menu %}
{% block body %}
<p align="center">
    Reports for 
    Project M.A.N.A. distribution database application.
</p>
<table>
    <tr>
        <td class="section">Reports</td>
        <td class="section">Profiles</td>
        <td class="section">Status Changes</td>
    </tr>
    <tr>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:reportsMenu') }}</td>
        <td>{{ knp_menu_render('ManaClientBundle:Builder:profileMenu') }}</td>
        <td><a class="smallbutton" href="{{ path("status") }}">Status changes</a></td>
    </tr>
</table>
{% endblock body %}