{% block search_form %}
<div align="center">
    <form action="{{ path('_search') }}" method="get">
        <div class="body">
<!--             Search <select name="qtype" class="smallform">
                <option value="client">Client Names</option>
                <option value="cities">Cities</option>
                <option value="notes">Notes</option>
                <option value="phone">Phone</option></select>--> 
            Search for ID or Name of Household Head <input name="qtext" type="text" class="smallform">
            <input class="smallbutton" name="submit" type="submit" value="Search">
            <p>
                <a href="{{ path('household_new') }}" >Add new household</a>
                <a href="{{ path('stats_criteria', {'dest': 'general'}) }}">Get General Statistics</a> 
            </p>
        </div>
    </form>
</div>
{% endblock search_form %}


