<td padding="2"></td>
<td padding="2"></td>
<td padding="2"></td>
<td padding="2"></td>
<td padding="2"></td>
<td>
    <table>
        <tr>
            <td padding="5" border.type="none"><circle radius="4px" border.color="black"/></td>
            <td border.type="none" padding="5 0"><circle radius="4px" border.color="black"/></td>
            <td padding="2 2 0 4" border.type="none">_____</td>
        </tr>
    </table>
</td>