{% extends "ManaClientBundle:Default:layout.html.twig" %}

{#
templates required:
flag=0: v2
#}
{% block body %}
    <div class="title">Household Edit<br>
        ID: {{household.id}}; Head: {{household.head.fname}} {{household.head.sname}}</div>
        <form action="{{ path('household_edit', { 'id': household.id }) }}" method="post">
            {% include "ManaClientBundle:Member:memberShowBlock.html.twig" %}
{#            {% include "ManaClientBundle:Member:v2MemberBlock.html.twig" %}#}
            {% include "ManaClientBundle:Address:addressBlock.html.twig" %}
            {% include "ManaClientBundle:Household:householdEditBlock.html.twig" %}
            {% include "ManaClientBundle:Household:householdRequired.html.twig" %}
            <div align="center"><input type="submit" value="Submit">
                <input type="reset"></div>
        </form>
    {% endblock %}
