<div align="center">
    <a class="smallbutton" href="{{ path('contact_new', {'id':household.id}) }}">Contacts</a>
{#    <a class="smallbutton" href="{{ path('note_new', {'id':household.id}) }}">Notes</a>#}
{#    <a class="smallbutton" href="{{ path('referral_new', {'id':household.id}) }}">Referrals</a>#}
{#    <a class="smallbutton" href="{{ path('income_new', {'id':household.id}) }}">Income</a>#}
</div>
