{# src\Mana\ClientBundle\Resources\views\Default\search.html.twig #}
{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
<div align="center">
    <div class="title">Search Results for {{ searchedFor }}</div>
    <p>* = Household is inactive</p>
</div>
<table class="width80">
    <tr>
        <td class="searchbody" width="25%">Options
        <td class="searchbody" width="15%">ID
        <td class="searchbody" width="15%">Name/Head
        <td class="searchbody" width="10%">DOB
        <td class="searchbody" width="45%">Address
    </tr>
{% include "ManaClientBundle:Household:matchBlock.html.twig" %}
</table>
{% endblock %}