{% extends "ManaClientBundle:Default:layout.html.twig" %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Household View<br>
            {% include 'ManaClientBundle:Household:householdHeader.html.twig' %}
        </div>
        {% include 'ManaClientBundle:Default:templates.html.twig' %}
        <div class="panel-body">
            <div class="text-center"><a class="btn-sm btn-info" href="{{ path("household_edit", {'id':household.id}) }}">Edit household</a>
                {#<a class="btn-sm btn-info" href="{{ path("house_card", {'id':household.id}) }}">Create card</a>#}</div>
        </div>
    </div>
{% endblock %}
