{% autoescape false %}
    <p>Hello {{ user.fname }} !</p>
    <br>
    <p>You can reset your password by clicking on this <a href="{{ confirmationUrl }}" >link</a></p>
    <br>
    <p>Your friends at
        the Project MANA App team</p>
{% endautoescape %}