{# app\Resources\views\Default\search.html.twig #}
{% extends "layout.html.twig" %}
{% block body }}
<div class="panel panel-info" style="width:80%; margin-left: 10%;">
    <div class="panel-heading">Search Results for {{ searchedFor }}<br>
    * = Household is inactive
</div>
<table class="table">
    <tr>
        <th>Options
        <th>ID
        <th>Name/Head
        <th>DOB
        <th>Address
    </tr>
{{ include("Member/matchBlock.html.twig") }}
</table>
</div>
{% endblock }}
