{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-primary">
        {{ include('Household/householdHeading.html.twig') }}
        <div class="panel-body">
            {{ include('Default/templates.html.twig') }}
        </div>
    </div>
{% endblock %}
