{% extends "base.html.twig" %}
{% block body %}
    <h3 class="alert alert-danger" role="alert">Sorry, but that page cannot be found</h3><br />
    <div><a class="btn-sm btn-info" href="{{ path("home") }}">Home</a></div>
{% endblock %}