{% extends "layout.html.twig" %}
{% block body %}
    <div class="panel panel-info">
        <div class="panel-heading">Select site for contact list</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <form action="{{ path("latest_contacts") }}" method="post">
                        {{ form_row(form.center, {label:'Site: '}) }}
                        <br>
                        <input class="btn-sm btn-info" type="submit" name="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}