<?xml version="1.0"?>
<pdf>
    <page class="card">
        <table>
            <tr>
                <td width="2in" border.type="none">
                    2 inches worth here
                </td>
                <td border.type="none">
                    <p>Distributions:</p>
                    <table>
                        <tr>
                            <td padding="2">Month</td>
                            <td padding="2" text-align="center">Week 1</td>
                            <td padding="2" text-align="center">Week 2</td>
                            <td padding="2" text-align="center">Week 3</td>
                            <td padding="2" text-align="center">Week 4</td>
                            <td padding="2" text-align="center">Week 5</td>
                            <td padding="2">E|C|date</td>
                        </tr>
                        <tr>
                            <td padding="2">July</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">August</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">September</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">October</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">November</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">December</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">January</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">February</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">March</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">April</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">May</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                        <tr>
                            <td padding="2">June</td>
{% include "ManaClientBundle:Test:cardMonthInclude.html.twig" %}                       
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
    </page>
</pdf>