<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <head>
        <meta Name="description"
              Content="Project M.A.N.A. aims to dramatically reduce the incidence of hunger and its effects on the communities on the north and west shores of Lake Tahoe and Truckee. We believe that adequate food for the maintenance of physical, emotional and mental health is a basic human right and in the overall best interest of our community.">
        <meta Name="keywords"
              Content="hunger, poverty, homelessness, community gardens, nutrition, Hispanic services, outreach, sustainable agriculture, non-profit, kids cooking, food, volunteering, Lake Tahoe, low-income, food pantry, Truckee, soup kitchen, emergency food relief, meals on wheels, gardening">
        <title>Project MANA</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/mana.css" rel="stylesheet" type="text/css">
        <link href="/css_frames.css" rel="stylesheet" type="text/css">
        <link href="/tables.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <table class="header">
                    <tr>
                        <td> <img class="header" src="/images/mana-banner.gif" alt="Return to MANA Homepage"
                                  width="290" height="61">
                            <a href="/index.php">
                                <img class="home" src="/images/home.jpg" alt="Home" border="0"></a></td>
                        <td>
                            <h3 class="title">Project M.A.N.A. Client Database</h3>
                            <h5 class="title">Serving more than 90,000 meals per year to North Lake Tahoe
                                and Truckee communities.</h5></td>
                    </tr>
                </table>
            </div>
            <div id="content-wrap">
                <div id="content">
                    

<p class="title">Statistics for August, 2013
        <br>
<br><br>Note: Some inconsistencies may exist due to clients with missing data<br>
</p>
<table class="width60">
    <tr>
        <td colspan="4" class="section">General statistics
    </tr>
    <tr>
        <td class="searchbody">&nbsp;</td>
        <td class="searchbody" align="right"><b>Individuals Served</b><br>1,444</td>
        <td class="searchbody" align="right"><b>Unique Individuals Served</b><br>620</td>
        <td class="searchbody">&nbsp;</td>
    </tr>
    <tr>
        <td class="searchbody">&nbsp;</td>
        <td class="searchbody" align="right"><b>Total Households Served</b><br>671</td>
        <td class="searchbody" align="right"><b>Unique Households Served</b><br>283</td>
        <td class="searchbody">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td ></td>
        <td align="right"><b>New Clients<br>(all types)</b><br>34</td>
        <td align="right"><b>Unique New Individuals<br>(all types)</b><br>53</td>
    </tr>
</table>
<table class="width60">
    <tr>
        <td colspan="4" class="section">Client ethnicity distribution</td>
    </tr>
    <tr>
        <td class="searchbody" align="right"><b>Caucasian</b><br>282</td>
        <td class="searchbody" align="right"><b>African-American</b><br>6</td>
        <td class="searchbody" align="right"><b>Asian</b><br>1</td>
        <td class="searchbody" align="right"><b>Hispanic</b><br>313</td>
    </tr>
    <tr>
        <td align="right"><b>Native American</b><br>3</td>
        <td align="right"><b>Hawaiian/Pacific Islander</b><br>0</td>
        <td align="right"><b>Other</b><br>4</td>
        <td></td>
    </tr>
</table>
<table class="width60">
    <tr>
        <td colspan="4" class="section">Age distribution</td>
    </tr>
    <tr>
        <td align="right"><b>Under 6</b><br>48</td>
        <td align="right"><b>6 to 18</b><br>111</td>
        <td align="right"><b>19 to 59</b><br>353</td>
        <td align="right"><b>60+</b><br>92</td>
    </tr>
</table>
<table class="width60">
    <tr>
        <td colspan="4" class="section">Age/Gender distribution</td>
    </tr>
    <tr>
        <td align="right"><b>Female Children</b><br>76</td>
        <td align="right"><b>Male Children</b><br>70</td>
        <td align="right"><b>Female Adults</b><br>216</td>
        <td align="right"><b>Male Adults</b><br>242</td>
    </tr>
</table>
<table class="width60">
    <tr>
        <td colspan="4" class="section">Residency distribution</td>
    </tr>
    <tr>
        <td align="right"><b>&lt; 1 month</b><br>28</td>
        <td align="right"><b>1 mo - 2 yrs</b><br>87</td>
        <td align="right"><b>&gt;=2 yrs</b><br>495</td>
        <td align="right">&nbsp;</td>
    </tr>
</table>
<table class="width60small">
    <tr>
        <td colspan="9" class="section">County distribution</td>
    </tr>
    <tr>
        <td></td>
        <td align="center" colspan="2"><b>Placer</b></td>
        <td align="center" colspan="2"><b>Nevada</b></td>
        <td align="center" colspan="2"><b>Washoe</b></td>
        <td align="center" colspan="2"><b>El Dorado</b></td>
    </tr>
    <tr>
        <td><b>Individuals served</b>
        <td align="right">493</td>
        <td align="right">34.1%</td>
        <td align="right">527</td>
        <td align="right">36.5%</td>
        <td align="right">424</td>
        <td align="right">29.4%</td>
        <td align="right">0</td>
        <td align="right">0.0%</td>
    </tr>
    <tr>
        <td><b>Unique Individuals Served</b>
        <td align="right">275</td>
        <td align="right">44.4%</td>
        <td align="right">219</td>
        <td align="right">35.3%</td>
        <td align="right">126</td>
        <td align="right">20.3%</td>
        <td align="right">0</td>
        <td align="right">0.0%</td>
    </tr>
    <tr>
        <td><b>Total Households Served</b>
        <td align="right">257</td>
        <td align="right">38.3%</td>
        <td align="right">252</td>
        <td align="right">37.6%</td>
        <td align="right">162</td>
        <td align="right">24.1%</td>
        <td align="right">0</td>
        <td align="right">0.0%</td>
    </tr>
    <tr>
        <td><b>Unique Households Served</b>
        <td align="right">134</td>
        <td align="right">47.3%</td>
        <td align="right">98</td>
        <td align="right">34.6%</td>
        <td align="right">51</td>
        <td align="right">18.0%</td>
        <td align="right">0</td>
        <td align="right">0.0%</td>
    </tr>
</table>
<table class="width60">
    <tr>
        <td colspan="6" class="section">Family size</td>
    </tr>
    <tr>
        <td align="right"><b>One</b></td>
        <td align="right"><b>Two</b></td>
        <td align="right"><b>Three</b></td>
        <td align="right"><b>Four</b></td>
        <td align="right"><b>Five</b></td>
        <td align="right"><b>Six or more</b></td>
    </tr>
    <tr>
        <td align="right">137</td>
        <td align="right">54</td>
        <td align="right">38</td>
        <td align="right">24</td>
        <td align="right">11</td>
        <td align="right">15</td>
    </tr>
</table>
        <br>
<table class="width60">
    <tr>
        <td colspan="4" class="section">Frequency Distribution for Month</td>
    </tr>
    <tr>
        <td align="right"><b>1x</b></td>
        <td align="right"><b>2x</b></td>
        <td align="right"><b>3x</b></td>
        <td align="right"><b>&gt;=4x</b></td>
    </tr>
    <tr>
        <td align="right">85</td>
        <td align="right">103</td>
        <td align="right">68</td>
        <td align="right">354</td>

    </tr>
</table>
<br>
Time taken = 0.22 secs
        <br>
<form action="" name="stats" method="post">
    <input type="hidden" name="vid" value="0">
    <input type="hidden" name="cty_id" value="0">
    <input type="hidden" name="rid" value="0">
    <input type="hidden" name="startMonth" value="08">
    <input type="hidden" name="startYear" value="2013">
    <input type="hidden" name="endMonth" value="08">
    <input type="hidden" name="endYear" value="2013">
    <div align="center"><input type="submit" name="submit" value="Export as Excel file" accesskey="x"></div>
</form>

                </div>
            </div>

            <div id="footer">
                <hr size="4">
                <div class="middlefoot">&nbsp;
<!--                    <a class="leftfoot" href="feedback.htm">Feedback to Web Team</a> <br>
                    <a class="leftfoot" href="terms_of_use.htm">Terms of Use</a><br>
                    <a class="leftfoot" href="privacy_policy.htm">Privacy Policy</a>-->

                </div>
                <div class="leftfoot">
                    <b> Project MANA -- A Hunger Relief Agency</b><br>
                    (775) 298-0008 Fax: (775) 298-0009<br>
                    Kings Beach: (530) 546-2416<br>
                    Truckee office: (530) 582-4079
                </div>
                <div class="rightfoot">
                    <img  src="images/hosted_by.gif" alt="Sierra Web logo">
                </div>

            </div>
        </div>
    </body>
</html>
