<div class="section70">Frequency Distribution for Month</div>

<table class="table">
    <tr>
    <td><b>1x</b></td>
    <td><b>2x</b></td>
    <td><b>3x</b></td>
    <td><b>&gt;=4x</b></td>
</table>
<table class="table">
    <tr>
    <td>{{ statistics['1x']|number_format }}</td>
    <td>{{ statistics['2x']|number_format }}</td>
    <td>{{ statistics['3x']|number_format }}</td>
    <td>{{ statistics['4x']|number_format }}</td>
</table>
    