<div class="row">
    <div class="col-sm-3">
        {{ form_row(form.contact_type, {'label': 'Report type'}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <b>Either site or county or neither</b>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <span id="center_select">{{ form_row(form.center, {'label': 'Site'}) }}</span>
    </div>
    <div class="col-sm-2">
        <span id="county_select">{{ form_row(form.county, {'label': 'County'}) }}</span>
    </div>
</div>
